
body{
    text-align: center;
    background-color: gray;
    background-size:larger;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px 70px;
    height: auto;
    font-size: 20px;
    background-image: linear-gradient(aqua);
  }
  .heading{
    text-shadow: 2px 3px 5px aqua;
  }
  .container1{
    width:400px;
    height:300px;
    border: 3px solid black;
    margin: auto;
    padding: 15px 10px;
    box-shadow: 15px;
    background-color:grey;
    border-style: dashed;
  } 
  ul{
    text-align: left;
  }
  label{
    font-weight: bold;
  }
  input{
    width:200px;
    height: 30px;
    border: 1px solid lightblue;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
  }
  button{
    width: 200px;
    height: 40px;
    border: 2px solid;
    /* border-radius: 50px; */
    font-size: 14px;
    background-color:rgb(169, 207, 207);
    margin:20px 50px;
  }
  button:hover{
    background-color: peru;
  }
   /* .container2{
    width: 50%;
    border: 1px solid grey;
    margin: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    background-color:black;
    } */
  /* .container3{
    margin: 10px 20px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 5px;
    height: 200px;
    background-color:rgb(203, 171, 161);
  
  } */ 